@page
@model PrivacyModel

<script src="https://unpkg.com/vue/dist/vue.js"></script>

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div id="privacy-vue"></div>
